body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    background-color: #2c7be5;
    color: white;
    margin: 0;
    padding: 12px;
}

#map {
    width: 100%;
    height: 90vh;
}
#search-box {
  padding: 10px;
  text-align: center;
  background: #f2f2f2;
}

#searchInput {
  width: 250px;
  padding: 6px;
}